[submodule "third_party/libtropic"]
	path = third_party/libtropic
	url = https://github.com/tropicsquare/libtropic.git
[submodule "components/CalEPD"]
	path = components/CalEPD
	url = https://github.com/martinberlin/CalEPD.git
[submodule "components/Adafruit-GFX"]
	path = components/Adafruit-GFX
	url = https://github.com/martinberlin/Adafruit-GFX-Library-ESP-IDF
